<div  style="height: 100vh; display: flex;width: 100%;position: relative;" >
  
    <img  style="height: 100vh;background-size:cover;" class="w-100"  src="../assets/images/bg-image-29.jpg">
  

    <particles  [style]="myStyle" [width]="width" [height]="height" style="z-index: 99;" [params]="myParams"></particles>

    <div class="text-light d-flex align-items-center justify-content-center h-100 w-100" style="position: absolute;background-color: #0a0a0ac0;">

      <span  style="display:inline-block!important;font-size:3.5rem;">Raya Contact Center
         <span id="changingText" style="display:inline-block!important"></span></span>
  </div>
  </div>
 